<html>
<head>
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/scripts.js"></script>
</head>
<body>
	<table width="100%" style="table-layout:fixed;"> <tr>
		<td></td>
		<td style="text-align:center;"> <h1> Kółko i krzyżyk edit</h1> </td>
		<td valign="top" style="text-align:right;"> <a href="#" onclick="changeUsername()"> <%= username %> </a> </td>
	</tr> </table>
	<div align="center"> <font size="4"> <a href="/roomsList">Lista pokoi</a> </font> </div>
	<div align="center"> <font size="4"> <a href="#" onclick="createRoom()">Stwórz pokój</a> </font> </div>

</body>
</html>
